@using AffilateSource.Shared.ViewModel.Contact
@*@model ContactVM*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
    <!-- About Company -->
    <!-- Our Awesome Services -->
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="section-content">
                <div class="row about-column-reverse">
                    <div class="col-lg-6 col-md-6 text-center hidden-sm align-self-end">
                        <div class="worker"> <img src="/portalstyle/images/about/contact.png" alt="" /> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30">
                        <h2 class="text-uppercase font-35 m-t30 p-r50 row">
                            <i class="fa fa-quote-left btn-block text-primary m-b10 font-40"></i>
                            Vườn hoa lá là cửa hàng hoa tươi online được yêu thích nhiều năm liền.
                        </h2>
                        <p>
Với hệ thống đại lý phủ sóng khắp 63 tỉnh/thành, chúng tôi cam kết dịch vụ điện hoa trong nước luôn thực hiện không quá 2 giờ.
Là thành viên của Hiệp hội Điện hoa Toàn cầu – INTERFLORA, chúng tôi cung cấp dịch vụ điện hoa từ Việt Nam đến hơn 150 quốc gia và ngược lại. Nhiều năm nay, Thế Giới Hoa Tươi luôn là lựa chọn đáng tin cậy của doanh nhân, doanh nghiệp, du học sinh, kiều bào đang sinh sống, học tập và làm việc ở nhiều quốc gia: Mỹ, Canada, Australia, Anh, Đức, Pháp, Nhật v.v…
Dù bạn đang ở đâu, chỉ cần click chuột là đã có ngay một bó hoa tươi thắm hay một giỏ trái cây tươi để thể hiện tình cảm với “người ấy” của bạn. Chúng tôi cam kết chất lượng hoa luôn ở mức độ hoàn hảo, thái độ phục vụ chuyên nghiệp với tinh thần “khách hàng luôn luôn đúng”.</p>
                        <img src="images/sign.png" alt="" />
                        <h3 class="m-b5">Jone Doe</h3>
                        <p>From the chairman's desk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Awesome Services END -->
</div>

