<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="robots" content=""/>
	<meta name="description" content="Vườn Hoa Lá"/>
	<meta property="og:title" content="Vườn Hoa Lá"/>
	<meta property="og:description" content="Vườn Hoa Lá"/>
	@*<meta property="og:image" content="https://gardenzone.dexignlab.com/xhtml/social-image.png"/>*@
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="/portalstyle/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="/portalstyle/images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title> Vườn Hoa Lá</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="/portalstyle/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="/portalstyle/css/style.css">
	<link class="skin"  rel="stylesheet" type="text/css" href="/portalstyle/css/skin/skin-1.css">
	<link  rel="stylesheet" type="text/css" href="/portalstyle/css/templete.css">

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">

</head>
<body id="bg">
	<div id="loading-area"></div><div class="page-wraper">
		<!-- header -->
		@await Component.InvokeAsync("Navigation")
		<!-- header END -->
		<!-- Content -->
		@RenderBody()

		<!-- Content END-->
		<!-- Footer -->
		@await Component.InvokeAsync("Footer")
		<!-- Footer END-->
		<!-- scroll top button -->
		<button class="scroltop fa fa-chevron-up"></button>
		<!-- <div class="contant-no-area">
			<div class="contact-number">
				<h5>Have A Questions</h5>
				<h6>0800 987654320</h6>
			</div>
			<div class="contact-pic">
				<img src="/portalstyle/images/testimonials/pic4.jpg" alt=""/>
			</div>
			<div class="contact-name">
				<span>Jone Cane</span>
			</div>
		</div> -->

	</div>
	<!-- JavaScript  files ========================================= -->
	<script src="/portalstyle/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="/portalstyle/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="/portalstyle/plugins/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="/portalstyle/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
	<script src="/portalstyle/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
	<script src="/portalstyle/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="/portalstyle/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="/portalstyle/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="/portalstyle/plugins/imagesloaded/imagesloaded.js"></script><!-- /portalstyle/imagesLOADED -->
	<script src="/portalstyle/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
	<script src="/portalstyle/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
	<script src="/portalstyle/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
	<script src="/portalstyle/js/dz.ajax.js"></script><!-- CONTACT JS  -->
	<script src="/portalstyle/js/dz.carousel.js"></script><!-- CUSTOM FUCTIONS  -->
	<script src="/portalstyle/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<!-- revolution JS FILES -->
	<script src="/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script src="/portalstyle/js/rev.slider.js"></script>
	<script>
		jQuery(document).ready(function () {
			'use strict';
			dz_rev_slider_4();

		});
		/*ready*/
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
<script>new WOW().init();</script>
<script>
GardenZone.handleMasonryFilter();
</script>
	@RenderSection("scripts", required: false)
</body>
</html>